// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.topbar {
    width: 100%;
    height: 50px;
    background-color: #E5E4E2; 

    a {
        color: black;
    }
}

.information {
    float: left;
    margin: 20px 0 0 50px;
    font-family: "Peanut Butter Cookies", sans-serif;
}

.icons {
    float: right;
    margin: 11px 85px 0 0;
    word-spacing: 29px;
}

.main-image img {
    width: 100%;
}

.feature-links {
    margin: -675px 0 0 1000px;
}

button {
    background: #85888a;
    background-image: -webkit-linear-gradient(top, #85888a, #636363);
    background-image: -moz-linear-gradient(top, #85888a, #636363);
    background-image: -ms-linear-gradient(top, #85888a, #636363);
    background-image: -o-linear-gradient(top, #85888a, #636363);
    background-image: linear-gradient(to bottom, #85888a, #636363);
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

  // button:hover {
  //   background: #126396;
  //   background-image: -webkit-linear-gradient(top, #126396, #0f4e78);
  //   background-image: -moz-linear-gradient(top, #126396, #0f4e78);
  //   background-image: -ms-linear-gradient(top, #126396, #0f4e78);
  //   background-image: -o-linear-gradient(top, #126396, #0f4e78);
  //   background-image: linear-gradient(to bottom, #126396, #0f4e78);
  //   text-decoration: none;
  // }
}

.signup-button {
    margin: 260px 0 0 572px;
}

.signup-button-two {
    margin: 360px 0 0 225px;
    position: absolute
}

.container {
    margin: 400px 300px 0 300px;
    text-align: center;
}

.profiles h1 {
    margin-top: 50px;
}

.profile-photo img {
    margin-left: -38px;
}

.info-one {
    margin-top: 75px;

    h1 {
        margin: 50px 0 0 250px;
    }
}

.info-one-paragraph {
    p {
        margin-left: 250px;
        display: inline-block;
    }

    img {
        margin: -60px 0 0 27px;
        width: 200px;
        height: 200px;
        position: absolute;
    }
}

.info-two {
    margin-top: 75px;

    h1 {
        margin: 50px 250px 0 0;
    }
}

.info-two-paragraph {
    p {
        margin-right: 250px;
    }

    img {
        width: 200px;
        height: 200px;
        position: absolute;
        margin: -83px 0 0 190px;
    }
}

.info-three {
    margin-top: 75px;

    h1 {
        margin: 50px 0 0 250px;
    }
}

.info-three-paragraph {
    p {
        margin-left: 250px;
    }

    img {
        width: 200px;
        height: 200px;
        position: absolute;
        margin: -67px 0 0 -385px;
    }
}

.middle-image img {
    margin-top: 100px;
    width: 100%;
    height: 380px;
}


.container-two {
    margin: 50px 300px 50px 300px;
}

.features-title h1 {
    text-align: center;
}

.features {
    display: inline-block;
    margin-left: 40px;

    h3{
        margin-left: 0px;
    }
}

.features-two {
    display: inline-block;
    margin-left: 85px;
}

.features-three {
    display: inline-block;
    position: absolute;
    margin-left: 85px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #595856; 
}

.social-media-links {
    color: white;
    float: left;
    margin: -3px 0 0 25px;
}

.copyright span {
    float: right;
    color:white;
    margin: 70px 85px 0 0;
}

.footer a {
    color: white;
}











