// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.topbar {
    width: 100%;
    height: 3.125em;
    background-color: #E5E4E2; 

    a {
        color: black;
    }
}

.information {
    float: left;
    margin: 1.250em 0 0 4%;
    font-family: "Peanut Butter Cookies", sans-serif;
}

.icons {
    float: right;
    margin: .688em 4% 0 0;
    word-spacing: 1.250em;
}

.main-image img {
    width: 100%;
}

.feature-links {
    margin: -42.188em 0 0 70%;
}

button {
    background: #85888a;
    background-image: -webkit-linear-gradient(top, #85888a, #636363);
    background-image: -moz-linear-gradient(top, #85888a, #636363);
    background-image: -ms-linear-gradient(top, #85888a, #636363);
    background-image: -o-linear-gradient(top, #85888a, #636363);
    background-image: linear-gradient(to bottom, #85888a, #636363);
    border-radius: 7%;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.250em;
    padding: .625em 2% .625em 2%;
    text-decoration: none;

  // button:hover {
  //   background: #126396;
  //   background-image: -webkit-linear-gradient(top, #126396, #0f4e78);
  //   background-image: -moz-linear-gradient(top, #126396, #0f4e78);
  //   background-image: -ms-linear-gradient(top, #126396, #0f4e78);
  //   background-image: -o-linear-gradient(top, #126396, #0f4e78);
  //   background-image: linear-gradient(to bottom, #126396, #0f4e78);
  //   text-decoration: none;
  // }
}

.signup-button {
    margin: 16.250rem 0 0 40%;
}

.signup-button-two {
    margin: 22.50rem 0 0 20%;
    position: absolute
}

.container {
    margin: 25em 25% 0 25%;
    text-align: center;
}

.profiles h1 {
    margin-top: 3.125em;
}

.profile-photo img {
    margin-left: -13%;
}

.info-one {
    margin-top: 4.688em;

    h1 {
        margin: 3.125em 0 0 36%;
    }
}

.info-one-paragraph {
    p {
        margin-left: 36%;
        display: inline-block;
    }

    img {
        margin: -3.75em 0 0 1%;
        width: 14%;
        height: 12.5em;
        position: absolute;
    }
}

.info-two {
    margin-top: 4.688em;

    h1 {
        margin: 3.125em 35% 0 0;
    }
}

.info-two-paragraph {
    p {
        margin-right: 35%;
    }

    img {
        width: 14%;
        height: 12.5em;
        position: absolute;
        margin: -5.188em 0 0 10%;
    }
}

.info-three {
    margin-top: 4.688em;

    h1 {
        margin: 3.125em 0 0 35%;
    }
}

.info-three-paragraph {
    p {
        margin-left: 35%;
    }

    img {
        width: 14%;
        height: 12.5em;
        position: absolute;
        margin: -4.188em 0 0 -24%;
    }
}

.middle-image img {
    margin-top: 6.250em;
    width: 100%;
    height: 23.750em;
}


.container-two {
    margin: 3.125em 20% 3.125em 20%;
}

.features-title h1 {
    text-align: center;
}

.features {
    display: inline-block;
    margin-left: 5%;

    h3{
        margin-left: 0%;
    }
}

.features-two {
    display: inline-block;
    margin-left: 12%;
}

.features-three {
    display: inline-block;
    position: absolute;
    margin-left: 12%;
}

.footer {
    width: 100%;
    height: 6.250em;
    background-color: #595856; 
}

.social-media-links {
    color: white;
    float: left;
    margin: -.188em 0 0 4%;
}

.copyright span {
    float: right;
    color:white;
    margin: 4.375em 6% 0 0;
}

.footer a {
    color: white;
}











