// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.topbar {
    width: 100%;
    height: 3.125em;
    background-color: #E5E4E2; 

    a {
        color: black;
    }
}

.information {
    float: left;
    margin: 1.250em 0 0 4%;
    font-family: "Peanut Butter Cookies", sans-serif;
}

.icons {
    float: right;
    margin: .688em 4% 0 0;
    word-spacing: 1.250em;
}

.main-image img {
    width: 100%;
}

.feature-links {
    margin: -42.188em 0 0 70%;
}

button {
    background: #85888a;
    background-image: -webkit-linear-gradient(top, #85888a, #636363);
    background-image: -moz-linear-gradient(top, #85888a, #636363);
    background-image: -ms-linear-gradient(top, #85888a, #636363);
    background-image: -o-linear-gradient(top, #85888a, #636363);
    background-image: linear-gradient(to bottom, #85888a, #636363);
    border-radius: 7%;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.250em;
    padding: .625em 2% .625em 2%;
    text-decoration: none;

  // button:hover {
  //   background: #126396;
  //   background-image: -webkit-linear-gradient(top, #126396, #0f4e78);
  //   background-image: -moz-linear-gradient(top, #126396, #0f4e78);
  //   background-image: -ms-linear-gradient(top, #126396, #0f4e78);
  //   background-image: -o-linear-gradient(top, #126396, #0f4e78);
  //   background-image: linear-gradient(to bottom, #126396, #0f4e78);
  //   text-decoration: none;
  // }
}

.signup-button {
    margin: -24.75rem 0 0 40%;
    position: absolute;
}

.signup-button-two {
    margin: 22.50rem 0 0 35%;
    position: absolute
}

.container {
    margin: 4em 25% 0 25%;
    text-align: center;
}

.first-paragraph, .second-paragraph, .info-one-paragraph, .info-two-paragraph, .info-three-paragraph, .social-media-links, .copyright {
    font-family: "GeosansLight", sans-serif;
    font-size: 1.063em;
}

.first-title, .features-title, .info-one h1, .info-two h1, .info-three h1 {
    font-family: "Code Bold", sans-serif;
}

.profiles h1 {
    margin-top: 3.125em;
    font-family: "Code Bold", sans-serif;
}

.profile-photo img {
    margin-left: -13%;
}

.info-one {
    margin-top: 4.688em;

    h1 {
        margin: 3.125em 0 0 36%;
    }
}

.info-one-paragraph {
    p {
        margin-left: 36%;
        display: inline-block;
    }

    img {
        margin: -3.75em 0 0 1%;
        width: 14%;
        height: 12.5em;
        position: absolute;
    }
}

.info-two {
    margin-top: 4.688em;

    h1 {
        margin: 3.125em 35% 0 0;
    }
}

.info-two-paragraph {
    p {
        margin-right: 35%;
    }

    img {
        width: 14%;
        height: 12.5em;
        position: absolute;
        margin: -5.188em 0 0 10%;
    }
}

.info-three {
    margin-top: 4.688em;

    h1 {
        margin: 3.125em 0 0 35%;
    }
}

.info-three-paragraph {
    p {
        margin-left: 35%;
    }

    img {
        width: 14%;
        height: 12.5em;
        position: absolute;
        margin: -4.188em 0 0 -24%;
    }
}

.middle-image {
    img {
    margin-top: 6.250em;
    width: 100%;
    height: 23.750em;
    }

    h1 {
        font-family: "Code Bold", sans-serif;
        color: white;
        margin: 9.375em 0 0 4%;
        position: absolute;
    }
}


.container-two {
    margin: 3.125em 20% 3.125em 20%;
}

.vendor-profiles {
    text-align: center;
    font-family: "Code Bold", sans-serif;
    margin: 10% 0 5% 0;
}

.vendor-image {
    p {
        margin-left: 45%;
        margin-top: 6%;
        display: inline-block;
        font-family: "GeosansLight", sans-serif;
        font-size: 1.063em;
    }

    img {
        width: 28%;
        position: absolute;
        margin: -0.188em 0 0 -3%;
    }
}

.vendor-examples {
    margin-top: 20%;
    text-align: center;

    img {
        width: 75%;
    }
}

.features-title h1 {
    text-align: center;
    margin-top: 10%;
}

.features {
    display: inline-block;
    margin-left: 1%;
    font-family: "GeosansLight", sans-serif;

    h3{
        margin-left: 0%;
    }
}

.features-two {
    display: inline-block;
    margin-left: 16%;
    font-family: "GeosansLight", sans-serif;
}

.features-three {
    display: inline-block;
    position: absolute;
    margin-left: 11%;
    font-family: "GeosansLight", sans-serif;
}

.footer {
    width: 100%;
    height: 6.250em;
    background-color: #595856; 
    margin-top: 5em;
}

.social-media-links {
    color: white;
    float: left;
    margin: -.188em 0 0 4%;
}

.copyright span {
    float: right;
    color:white;
    margin: 4.375em 6% 0 0;
}

.footer a {
    color: white;
}

 // #tfnewsearch{
 //     float:right;
 //     padding:20px;
 // }

 // .tftextinput{
 //     margin: 0;
 //     padding: 5px 15px;
 //     font-family: Arial, Helvetica, sans-serif;
 //     font-size:14px;
 //     border:1px solid #0076a3; border-right:0px;
 //     border-top-left-radius: 5px 5px;
 //     border-bottom-left-radius: 5px 5px;
 // }

 // .tfbutton {
 //     margin: 0;
 //     padding: 5px 15px;
 //     font-family: Arial, Helvetica, sans-serif;
 //     font-size:14px;
 //     outline: none;
 //     cursor: pointer;
 //     text-align: center;
 //     text-decoration: none;
 //     color: #ffffff;
 //     border: solid 1px #0076a3; border-right:0px;
 //     background: #0095cd;
 //     background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
 //     background: -moz-linear-gradient(top,  #00adee,  #0078a5);
 //     border-top-right-radius: 5px 5px;
 //     border-bottom-right-radius: 5px 5px;
 // }

 // .tfbutton:hover {
 //     text-decoration: none;
 //     background: #007ead;
 //     background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
 //     background: -moz-linear-gradient(top,  #0095cc,  #00678e);
 // }

 // .tfclear{
 //     clear:both;
 // }









