<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>EnterTrep</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
        <link @font-face { font-family: Geo Sans Light; src: url('GeosansLight.ttf'); }>
        <link @font-face { font-family: Code Bold; src: url('Code Bold.otf'); }>

        <script src="../bower_components/modernizr/modernizr.js"></script>
        
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header"></div>
        <div class="main-container"></div>
        <div class="main-footer"></div>

        <!---templates begin --> 

        <!---template for home page view --> 
        <script type="text/template" class="home-template">
            <div class="topbar">
                <a href="#"><div class="information"><spaninfo> EnterTrep </spaninfo> </div></a>
                <div class="icons">
                    <a href="#"><spanicon class="entypo-home" title="home"></spanicon></a>
                    <a href="#/user"><spanicon class="entypo-user"title="profile page"></spanicon></a>
                    <a href="#/vendor"><spanicon class="entypo-folder" title="pricing"></spanicon></a>
                    <a href="#/settings"><spanicon class="entypo-vcard" title="settings"></spanicon></a>
                    <a href="#/login"><spanicon class="entypo-retweet" title="login/logout"></spanicon></a>
                </div>
            </div>

            <div class="main-image">
                    <img src="https://farm4.staticflickr.com/3849/14644164265_16fcbb8597_o.jpg"></img>
                </div>
                <a href='#/signup'><button class="signup-button button"> sign up </button></a>
                <a href='#/login'><button class="login-button button"> login </button></a>
             
            <div class="container">
            <div class="first-title"><h1> EnterTrep </h1></div>
            <div class="first-paragraph">
                <p> EnterTrep is dedicated to providing new and seasoned entrepreneurs with manufacturers, material suppliers, freelance designers and developers, industry research and mentors. Our mission is to create a community database for entrepreneurs where resources are shared amongst each other.</p>
            </div>
            <div class="profiles"><h1> In Depth Profiles </h1></div>
                <div class="indepth-photo"><img src="https://farm3.staticflickr.com/2899/14519608855_a4ab100a2c_o.jpg"></img>
                </div>
            <div class="second-paragraph">
                <p> EnterTrep includes free user profiles for entrepreneurs. Each profile includes connections, an about page, profile photo and links to your connections and favorite businesses. Each profile also comes with an "Idea Pad," which can be set to public or private. The Idea Pad will allow you to post images, create an inspiration board and create notes on your business.</p>
            </div>
            <div class="info-one"><h1> Engaging Headline </h1></div>
                <div class="info-one-paragraph">
                <img src="https://farm3.staticflickr.com/2922/14333778328_1e241e9b78_o.png"></img>
                <p> EnterTrep includes free user profiles for entrepreneurs. Each profile includes connections, an about page, profile photo and links to your connections and favorite businesses. Each profile also comes with an "Idea Pad," which can be set to public or private. The Idea Pad will allow you to post images, create an inspiration board and create notes on your business.</p>
                </div>
            <div class="info-two"><h1> Engaging Headline </h1></div>
                <div class="info-two-paragraph">
                <img src="https://farm6.staticflickr.com/5491/14333701740_70a768f709_o.png"></img>
                <p> EnterTrep includes free user profiles for entrepreneurs. Each profile includes connections, an about page, profile photo and links to your connections and favorite businesses. Each profile also comes with an "Idea Pad," which can be set to public or private. The Idea Pad will allow you to post images, create an inspiration board and create notes on your business.</p>
                </div>
            <div class="info-three"><h1> Engaging Headline </h1></div>
                <div class="info-three-paragraph">
                <img src="https://farm3.staticflickr.com/2938/14520347775_9163f59c3a_o.png"></img>
                <p> EnterTrep includes free user profiles for entrepreneurs. Each profile includes connections, an about page, profile photo and links to your connections and favorite businesses. Each profile also comes with an "Idea Pad," which can be set to public or private. The Idea Pad will allow you to post images, create an inspiration board and create notes on your business.</p>
                </div>
            </div>

            <div class="middle-image">
                <h1> Join the Community of Americas Best Entrepreneurial Resources </h1>
                <a href='#/signup'><button class="signup-button-two button"> Sign Up </button></a>
                <img src="https://farm3.staticflickr.com/2935/14537672102_f11060627b_o.jpg"></img>
            </div>

            <div class="container-two">
                <div class="vendor-profiles"><h1> Business Profiles </h1></div>
                    <div class="vendor-image">
                    <img src="https://farm3.staticflickr.com/2899/14519608855_a4ab100a2c_o.jpg"></img>
                    <p> EnterTrep includes free user profiles for entrepreneurs. Each profile includes connections, an about page, profile photo and links to your connections and favorite businesses. Each profile also comes with an "Idea Pad," which can be set to public or private. The Idea Pad will allow you to post images, create an inspiration board and create notes on your business.</p>
                    </div>
                <div class="vendor-examples">
                    <img id="spainImages" src="https://farm4.staticflickr.com/3854/14559445463_cd9ac22c5a_o.jpg"></img>
                </div>
                <div class="features-title"><h1> Categories </h1></div>
                <div class="features">
                    <h3>Ideation</h3>
                    <ul style="list-style: none;"> 
                        <li>Industry Research</li>
                        <li>Company Research</li>
                        <li>Trade Shows</li>
                    </ul>
                    <h3>Design</h3>
                    <ul style="list-style: none;"> 
                        <li>Prototyping</li>
                        <li>Designers</li>
                        <li>Packaging</li>
                        <li>Materials</li>
                    </ul>
                </div>
                <div class="features-two">
                    <h3>Production</h3>
                    <ul style="list-style: none;"> 
                        <li>Domestic Manufacturers</li>
                        <li>International Manufacturers</li>
                        <li>Suppliers</li>
                        <li>Materials</li>
                    </ul>
                    <h3>Finance</h3>
                    <ul style="list-style: none;"> 
                        <li>Raising Capital</li>
                        <li>Equity</li>
                        <li>Financial Templates</li>
                    </ul>
                    </ul>
                </div>
                <div class="features-three">
                    <h3>Digital</h3>
                    <ul style="list-style: none;"> 
                        <li>E-Commerce</li>
                        <li>Web and App Development</li>
                    </ul>
                    <h3>Marketing</h3>
                    <ul style="list-style: none;"> 
                        <li>Branding</li>
                        <li>Advertising</li>
                        <li>Social Media</li>
                    </ul>
                </div>
            </div>

            <div class="footer">
                <div class="social-media-links" style="color: white">
                    <ul style="list-style: none;"> 
                        <a href="www.facebook.com"><li>Facebook</li></a>
                        <a href="www.twitter.com"><li>Twitter</li></a>
                        <a href="www.linkedin.com"><li>LinkedIn</li></a>
                        <a href="www.wordpress.com"><li>Blog</li></a>
                    </ul>
                </div>
                <div class="copyright">
                    <p> © EnterTrep, 2014 </p>
                </div>
            </div> 
        </script>    

        <!-- template for Sign Up View -->
        <script type="text/template" class="sign-up-template">
        <div class="whole-page">

        <div class="signup-buttons">
            <a href='#/signup'><button class="user-selector-button"> Trep Account </button></a>
            <a href='#/signup-vendor'><button class="vendor-selector-button"> Business Account </button></a>
        </div>

            <div class='signup-container'>
              <div class='signup'>
                 <form>
                   <input type='text' placeholder='First:' class="add-first-name" />
                   <input type='text' placeholder='Last:' class="add-last-name" />
                   <input type='text' placeholder='Email:' class="add-email" />
                   <input type='text' placeholder='Zip Code:' class="add-zip-code" />
                   <input type='text' placeholder='Username:' class="add-user-name" />
                   <input type='text' placeholder='Password:' class="add-password" />
                   <button type= 'submit' class='register-button button'> register </button>
                 </form>
                    <a href='#/pricing'><button class="clear-button button"> view pricing </button></a>
              </div>

            <div class="add-photo-section">
                <h2> add your profile photo </h2>
                <input type="file" class="file-uploader" placeholder="select file"/>
                <button type= 'submit' class='upload-button button'> upload </button> 
            </div>
             
              <div class='sign-info'>
                <h1>Trep Account</h1>
                <p>EnterTrep is dedicated to providing new and seasoned entrepreneurs with manufacturers, material suppliers, freelance designers and developers, industry research and mentors. Create a user or business EnterTrep account and join the community.</p>
                <div class="wrapper">
                    <ul style="list-style: none;">
                        <li>
                            <p>Select Account Type:</p>
                        </li>
                        <li>
                            <input type="radio" name="check-box" class="add-user-profile"/> <span2>Entrepreneur</span2>
                        </li>
                        <li>
                            <input type="radio" name="check-box" class="add-business-profile"/> <span2>Entrepreneur Plus</span2>
                        </li>
                     </ul>
                </div>
                <div class="selectors">
                    <span3> Select up to 2 industries that you are interested in: </span3>
                    <select name="industry-one">
                        <option value="Goods">Consumer Goods</option>
                        <option value="Apparel">Apparel</option>
                        <option value="E-Commerce">E-Commerce</option>
                        <option value="Social">Social Innovation</option>
                        <option value="Education">Education</option>
                        <option value="Health">Health & Wellness</option>
                        <option value="Food">Food & Beverage</option>
                        <option value="Digital">Digital Experiences</option>
                        <option value="Franchises">Franchises</option>
                    </select>
                    <select name="industry-two">
                        <option value="Goods">Consumer Goods</option>
                        <option value="Apparel">Apparel</option>
                        <option value="E-Commerce">E-Commerce</option>
                        <option value="Social">Social Innovation</option>
                        <option value="Education">Education</option>
                        <option value="Health">Health & Wellness</option>
                        <option value="Food">Food & Beverage</option>
                        <option value="Digital">Digital Experiences</option>
                        <option value="Franchises">Franchises</option>
                    </select>
                </div>
                
              </div>
            </div>
        </div>
        </script> 

    <!-- template for Vendor Sign Up View -->
    <script type="text/template" class="vendor-sign-up-template">
     <div class="whole-page">

        <div class="signup-buttons">
            <a href='#/signup'><button class="user-selector-button"> Trep Account </button></a>
            <a href='#/signup-vendor'><button class="vendor-selector-button"> Business Account </button></a>
        </div>

            <div class='signup-container'>
              <div class='signup'>
                 <form>
                   <input type='text' placeholder='First:' class="add-first-name" />
                   <input type='text' placeholder='Last:' class="add-last-name" />
                   <input type='text' placeholder='Email:' class="add-email" />
                   <input type='text' placeholder='Zip Code:' class="add-zip-code" />
                   <input type='text' placeholder='Username:' class="add-user-name" />
                   <input type='text' placeholder='Password:' class="add-password" />
                   <button type= 'submit' class='register-button button'> register </button>
                 </form>
                    <a href='#/pricing'><button class="clear-button button"> view pricing </button></a>
              </div>

            <div class="add-photo-section">
                <h2> add your profile photo </h2>
                <input type="file" class="file-uploader" placeholder="select file"/>
                <button type= 'submit' class='upload-button button'> upload </button> 
            </div>
             
              <div class='sign-info'>
                <h1>Business Account</h1>
                <p>EnterTrep is dedicated to providing new and seasoned entrepreneurs with manufacturers, material suppliers, freelance designers and developers, industry research and mentors. Create a user or business EnterTrep account and join the community.</p>
                <div class="wrapper">
                    <ul style="list-style: none;">
                        <li>
                            <p>Select Account Type:</p>
                        </li>
                        <li>
                            <input type="radio" name="check-box" class="add-user-profile"/> <span2>Starter</span2>
                        </li>
                        <li>
                            <input type="radio" name="check-box" class="add-business-profile"/> <span2>Professional</span2>
                        </li>
                     </ul>
                </div>
              </div>
            </div>
        </div>
    </script>

    <!-- template for User View -->
    <script type="text/template" class="user-template">
        <div class="topbar">
                <input type="text" class="search left rounded" value="" />
                <button class="go-left-button button"><spansearch>Search</spansearch></button>
           <div class="icons">
                    <a href="#"><spanicon class="entypo-home" title="home"></spanicon></a>
                    <a href="#/user"><spanicon class="entypo-user"title="profile page"></spanicon></a>
                    <a href="#/vendor"><spanicon class="entypo-folder" title="pricing"></spanicon></a>
                    <a href="#/settings"><spanicon class="entypo-vcard" title="settings"></spanicon></a>
                    <a href="#/login"><spanicon class="entypo-retweet" title="login/logout"></spanicon></a>
            </div>
        </div>

        <div class="user-container">
            <div class="left-container">
                <div class="profile-photo">
                    <img src=" <%= Parse.User.current().attributes.ProfilePicture._url %> "/>
                </div>

                <div class="user-info">
                    <ul style="list-style: none;">
                        <li> 
                            <spaninfo> <%= Parse.User.current().attributes.company %> </spaninfo>
                            <spaninfo> <%= Parse.User.current().attributes.cityState %> </spaninfo>
                            <spaninfo> <%= Parse.User.current().attributes.website %> </spaninfo>
                        </li>
                    </ul>
                </div>
                <div class="friends-group">
                    <a href="www.google.com"><spangroup>Connections (25)</spangroup></a>
                    <img src="http://placehold.it/300x300"></img>
                </div>
                <div class="business-group">
                    <a href="www.google.com"><spangroup>Favorite Businesses (45) </spangroup></a>
                    <img src="http://placehold.it/300x300"></img>
                </div>
            </div>

            <div class="right-container">
                <h1> <%= Parse.User.current().attributes.firstName %> <%= Parse.User.current().attributes.lastName %></h1>
                <h2> <%= Parse.User.current().attributes.occupation %> </h2>
                <div class="userbar">
                    <ul style="list-style: none;">
                      <li><a href="#/user-about"><spanbar>About</spanbar></a></li>
                      <li><a href="www.google.com"><spanbar>Posts</spanbar></a></li>
                      <li><a href="www.google.com"><spanbar>Images</spanbar></a></li>
                      <li><a href="#/user"><spanbar>Idea Pad</spanbar></a></li>
                    </ul>
                </div>
                <div class="idea-pad">
                    <div class="images-idea-pad">
                        <h3> Images </h3>
                        <img src=" <%= Parse.User.current().attributes.ProfilePicture._url %> "/>
                        <img src="http://placehold.it/150x150"></img>
                        <img src="http://placehold.it/150x150"></img>
                    </div>
                    <div class="images-inspiration-pad">
                        <h3> Inspiration </h3>
                        <img src="http://placehold.it/150x150"></img>
                        <img src="http://placehold.it/150x150"></img>
                        <img src="http://placehold.it/150x150"></img>
                    </div>
                    <div class="images-note-pad">
                        <h3> Notes </h3>
                        <img src="http://placehold.it/150x150"></img>
                        <img src="http://placehold.it/150x150"></img>
                        <img src="http://placehold.it/150x150"></img>
                    </div>
                </div>
            </div>
        </div>

        <div class="userfooter">
            <div class="social-media-links">
                <ul style="list-style: none;"> 
                    <a href="www.facebook.com"><li>Facebook</li></a>
                    <a href="www.twitter.com"><li>Twitter</li></a>
                    <a href="www.linkedin.com"><li>LinkedIn</li></a>
                    <a href="www.wordpress.com"><li>Blog</li></a>
                </ul>
            </div>
            <div class="copyright">
                <p> © EnterTrep, 2014 </p>
            </div>
        </div>
    </script>

    <script type="text/template" class="user-about-template">
        <div class="topbar">
                <input type="text" class="search left rounded" value="" />
                <button class="go-left-button button"><spansearch>Search</spansearch></button>
           <div class="icons">
                    <a href="#"><spanicon class="entypo-home" title="home"></spanicon></a>
                    <a href="#/user"><spanicon class="entypo-user"title="profile page"></spanicon></a>
                    <a href="#/pricing"><spanicon class="entypo-folder" title="pricing"></spanicon></a>
                    <a href="#/settings"><spanicon class="entypo-vcard" title="settings"></spanicon></a>
                    <a href="#/login"><spanicon class="entypo-retweet" title="login/logout"></spanicon></a>
            </div>
        </div>

        <div class="user-container">
            <div class="left-container">
                <div class="profile-photo">
                    <img src=" <%= Parse.User.current().attributes.ProfilePicture._url %> "/>
                </div>

                <div class="user-info">
                    <ul style="list-style: none;">
                        <li> 
                            <spaninfo> <%= Parse.User.current().attributes.company %> </spaninfo>
                            <spaninfo> <%= Parse.User.current().attributes.cityState %> </spaninfo>
                            <spaninfo> <%= Parse.User.current().attributes.website %> </spaninfo>
                        </li>
                    </ul>
                </div>
                <div class="friends-group">
                    <a href="www.google.com"><spangroup>Connections (25)</spangroup></a>
                    <img src="http://placehold.it/300x300"></img>
                </div>
                <div class="business-group">
                    <a href="www.google.com"><spangroup>Favorite Businesses (45) </spangroup></a>
                    <img src="http://placehold.it/300x300"></img>
                </div>
            </div>

            <div class="right-container">
                <h1> <%= Parse.User.current().attributes.firstName %> <%= Parse.User.current().attributes.lastName %></h1>
                <h2> <%= Parse.User.current().attributes.occupation %> </h2>
                <div class="userbar">
                    <ul style="list-style: none;">
                      <li><a href="#/user-about"><spanbar>About</spanbar></a></li>
                      <li><a href="www.google.com"><spanbar>Posts</spanbar></a></li>
                      <li><a href="www.google.com"><spanbar>Images</spanbar></a></li>
                      <li><a href="#/user"><spanbar>Idea Pad</spanbar></a></li>
                    </ul>
                </div>
                <div class="about-me-section">
                    <h3> About Me </h3>
                        <%= Parse.User.current().attributes.aboutMe %>
                </div>
            </div>
        </div>

        <div class="userfooter">
            <div class="social-media-links">
                <ul style="list-style: none;"> 
                    <a href="www.facebook.com"><li>Facebook</li></a>
                    <a href="www.twitter.com"><li>Twitter</li></a>
                    <a href="www.linkedin.com"><li>LinkedIn</li></a>
                    <a href="www.wordpress.com"><li>Blog</li></a>
                </ul>
            </div>
            <div class="copyright">
                <p> © EnterTrep, 2014 </p>
            </div>
        </div>
    </script>

    <!-- template for Login View -->
    <script type="text/template" class="login-template">
        <div id="login">
          <h1>EnterTrep</h1>
          <form>
            <input class="enter-username" type="username" placeholder="Username" />
            <input class="enter-password" type="password" placeholder="Password" />
            <a href="#/user"><input type="submit" class="submit-button" value="log in" /></a>
            <a href="#/signup"><input type="submit" class="signup-login-button" value="sign up" /></a>
          </form>
        </div>
    </script>

    <!-- template for Pricing View -->
    <script type="text/template" class="pricing-template">
        <div class="topbar">
                <a href="#"><div class="information"><spaninfo> EnterTrep </spaninfo> </div></a>
                <div class="icons">
                    <a href="#"><spanicon class="entypo-home" title="home"></spanicon></a>
                    <a href="#/user"><spanicon class="entypo-user"title="profile page"></spanicon></a>
                    <a href="#/vendor"><spanicon class="entypo-folder" title="pricing"></spanicon></a>
                    <a href="#/settings"><spanicon class="entypo-vcard" title="settings"></spanicon></a>
                    <a href="#/login"><spanicon class="entypo-retweet" title="login/logout"></spanicon></a>
                </div>
        </div>
        <div class="plans">
            <div class="plan">
              <h3 class="plan-title">Entrepreneur</h3>
              <p class="plan-price">Free <spaninfo class="plan-unit">each month</spaninfo></p>
              <ul class="plan-features" style="list-style: none;">
              <li class="plan-feature">2<spaninfo class="plan-feature-unit">GB</spaninfo> <spaninfo class="plan-feature-name">storage</spaninfo></li>
                <li class="plan-feature">unlimited <spaninfo class="plan-feature-name">searches</spaninfo></li>
                <li class="plan-feature">unlimited <spaninfo class="plan-feature-name">queries</spaninfo></li>
                <li class="plan-feature">unlimited <spaninfo class="plan-feature-name">projects</spaninfo></li>
                <li class="plan-feature"><spaninfo class="plan-feature-name">message factories</spaninfo></li>
              </ul>
              <a href="#/signup" class="plans-button">Sign Up</a>
            </div>
            <div class="plan plan-highlight">
              <p class="plan-recommended"> Recommended</p>
              <h3 class="plan-rec-title">Entrepreneur + </h3>
              <p class="plan-price">$29 <spaninfo class="plan-unit">per month</spaninfo></p>
               <ul class="plan-features" style="list-style: none;">
                <li class="plan-feature">Access to Personal Sourcing Assistant <spaninfo class="plan-feature-name"></spaninfo></li>
                <li class="plan-feature">4<spaninfo class="plan-feature-unit">GB</spaninfo> <spaninfo class="plan-feature-name">storage</spaninfo></li>
                <li class="plan-feature">unlimited <spaninfo class="plan-feature-name">searches</spaninfo></li>
                <li class="plan-feature">unlimited <spaninfo class="plan-feature-name">queries</spaninfo></li>
                <li class="plan-feature">unlimited <spaninfo class="plan-feature-name">projects</spaninfo></li>
                <li class="plan-feature"><spaninfo class="plan-feature-name">message factories</spaninfo></li>
              </ul>
              <a href="#/signup" class="plan-button">Sign Up</a>
            </div>
            <div class="plan">
              <h3 class="plan-bus-title">Business Starter</h3>
              <p class="plan-bus-price">$29 <spaninfo class="plan-unit">per month</spaninfo></p>
              <ul class="plan-features" style="list-style: none;">
                <li class="plan-feature">5<spaninfo class="plan-feature-unit">GB</spaninfo> <spaninfo class="plan-feature-name">storage</spaninfo></li>
                <li class="plan-feature"><spaninfo class="plan-feature-name">Exposure to Entrepreneurs</spaninfo></li>
                <li class="plan-feature"><spaninfo class="plan-feature-name">Filtered Search</spaninfo></li>
              </ul>
              <a href="#/signup" class="planner-button">Sign Up</a>
            </div>
            <div class="plan">
              <h3 class="plan-bus-title">Business Professional</h3>
              <p class="plan-bus-price">$49 <spaninfo class="plan-unit">per month</spaninfo></p>
              <ul class="plan-features" style="list-style: none;">
                <li class="plan-feature">10<spaninfo class="plan-feature-unit">GB</spaninfo> <spaninfo class="plan-feature-name">storage</spaninfo></li>
                <li class="plan-feature"><spaninfo class="plan-feature-name"> Increased Exposure to Entrepreneurs</spaninfo></li>
                <li class="plan-feature"><spaninfo class="plan-feature-name">Filtered Search</spaninfo></li>
                <li class="plan-feature"><spaninfo class="plan-feature-name">Increased Advertising</spaninfo></li>
              </ul>
              <a href="#/signup" class="plan-button">Sign Up</a>
            </div>
        </div>

        <div class="footer">
                <div class="social-media-links" style="color: white">
                    <ul style="list-style: none;"> 
                        <a href="www.facebook.com"><li>Facebook</li></a>
                        <a href="www.twitter.com"><li>Twitter</li></a>
                        <a href="www.linkedin.com"><li>LinkedIn</li></a>
                        <a href="www.wordpress.com"><li>Blog</li></a>
                    </ul>
                </div>
                <div class="copyright">
                    <p> © EnterTrep, 2014 </p>
                </div>
            </div> 
    </script>

    <script type="text/template" class="settings-template">
        <div class="topbar-settings">
               <a href="#"><div class="information"><spaninfo> EnterTrep </spaninfo> </div></a>
                <div class="icons">
                    <a href="#"><spanicon class="entypo-home" title="home"></spanicon></a>
                    <a href="#/user"><spanicon class="entypo-user"title="profile page"></spanicon></a>
                    <a href="#/pricing"><spanicon class="entypo-folder" title="pricing"></spanicon></a>
                    <a href="#/settings"><spanicon class="entypo-vcard" title="settings"></spanicon></a>
                    <a href="#/login"><spanicon class="entypo-retweet" title="login/logout"></spanicon></a>
                </div>
        </div>

        <div class='signup-container-settings'>
              <div class='signup'>
                 <form>
                   <input type='text' placeholder='Edit First Name:' class="add-first-name" />
                   <input type='text' placeholder='Edit Last Name:' class="add-last-name" />
                   <input type='text' placeholder='Edit Email:' class="add-email" />
                   <input type='text' placeholder='City, State' class="add-city-state" />
                   <input type='text' placeholder='Occupation' class="add-occupation" />
                   <input type='text' placeholder='Company Name' class="add-company" />
                   <input type='text' placeholder='Website' class="add-website" />
                   <textarea name="paragraph_text" cols="35" rows="6" class="add-about-section"></textarea>
                 </form>
                  <a href="#/user"><button type= 'submit' class='create-button button'> update settings </button></a>
              </div>
        </div>



        <div class="profiles-settings">
            <h1> Build Your Profile </h1>
            <h2> expand your reach to manufacturers and mentors </h2>
        </div>
        <div class="indepth-photo-settings"><img src="https://farm3.staticflickr.com/2899/14519608855_a4ab100a2c_o.jpg"></img>
        </div>



         <div class="footer-settings">
                <div class="social-media-links-settings" style="color: white">
                    <ul style="list-style: none;"> 
                        <a href="www.facebook.com"><li>Facebook</li></a>
                        <a href="www.twitter.com"><li>Twitter</li></a>
                        <a href="www.linkedin.com"><li>LinkedIn</li></a>
                        <a href="www.wordpress.com"><li>Blog</li></a>
                    </ul>
                </div>
                <div class="copyright-settings">
                    <p> © EnterTrep, 2014 </p>
                </div>
            </div> 
    </script> 

    <script type="text/template" class="vendor-template">
        <div class="topbar">
                <input type="text" class="search left rounded" value="" />
                <button class="go-left-button button"><spansearch>Search</spansearch></button>
           <div class="icons">
                    <a href="#"><spanicon class="entypo-home" title="home"></spanicon></a>
                    <a href="#/user"><spanicon class="entypo-user"title="profile page"></spanicon></a>
                    <a href="#/vendor"><spanicon class="entypo-folder" title="pricing"></spanicon></a>
                    <a href="#/settings"><spanicon class="entypo-vcard" title="settings"></spanicon></a>
                    <a href="#/login"><spanicon class="entypo-retweet" title="login/logout"></spanicon></a>
            </div>
        </div>

        <div class="user-container">
            <div class="left-container">
                <div class="profile-photo">
                    <img src=" <%= Parse.User.current().attributes.ProfilePicture._url %> "/>
                </div>

                <div class="user-info">
                    <ul style="list-style: none;">
                        <li> 
                            <spaninfo> <%= Parse.User.current().attributes.company %> </spaninfo>
                            <spaninfo> <%= Parse.User.current().attributes.cityState %> </spaninfo>
                            <spaninfo> <%= Parse.User.current().attributes.website %> </spaninfo>
                        </li>
                    </ul>
                </div>
                <div class="friends-group">
                    <a href="www.google.com"><spangroup>Connections (25)</spangroup></a>
                    <img src="http://placehold.it/300x300"></img>
                </div>
            </div>

            <div class="right-container">
                <h1><spaninfo> <%= Parse.User.current().attributes.company %> </spaninfo></h1>
                <h2> <%= Parse.User.current().attributes.occupation %> </h2>
                <div class="userbar"></div>
                <div class="about-vendor">
                    <spaninfo> <%= Parse.User.current().attributes.aboutMe %> </spaninfo>
                </div>
            </div>
        </div>

        <div class="footer-vendor">
            <div class="social-media-links-settings" style="color: white">
                <ul style="list-style: none;"> 
                    <a href="www.facebook.com"><li>Facebook</li></a>
                    <a href="www.twitter.com"><li>Twitter</li></a>
                    <a href="www.linkedin.com"><li>LinkedIn</li></a>
                    <a href="www.wordpress.com"><li>Blog</li></a>
                </ul>
            </div>
            <div class="copyright-settings">
                <p> © EnterTrep, 2014 </p>
            </div>
        </div> 
    </script> 


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/model.js"></script>
        <script src="scripts/views.js"></script>
        <script src="scripts/router.js"></script>
        <!-- endbuild -->
</body>
</html>
